:root {
  --main_color: #82dcaf;
  --white: #ffffff;
  --background_color: #ecf1f0;
  --gradint_to: #009efd;
  --gradint_from: #2af598;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: work_sans;
  src: url(./font/WorkSans-Regular.ttf);
}
body {
  font-family: work_sans;
  color: rgba(79, 79, 79, 1);
}

img {
  max-width: 100%;
}
.container {
  padding-inline: clamp(30px, 7vw, 80px);
  margin: clamp(50px, 20vh, 80px) auto;
}
input {
  color: var(--white);
}
input:focus-visible {
  outline: none;
}
header {
  background-image: url(./img/modern-living-room-interior-with-sofa-green-plants-lamp-table-dark-wall-background\ 1.png),
    linear-gradient(0deg, white 0%, transparent 10%);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100dvh;
}
.navbar {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav_link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.nav_link .links ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style: none;
}
.links ul a {
  color: var(--white);
  text-decoration: none;
}
.links ul a:hover {
  background: -webkit-linear-gradient(var(--gradint_to), var(--gradint_from));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (width < 790px) {
  .navbar {
    justify-content: end;
    padding-inline:15px ;
  }

  /* .navbar .nav_link {
    position: relative;
  } */
  .navbar .nav_link .icon {
    /* position: absolute; */
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .navbar .nav_link .icon span {
    background-color: white;
    margin-bottom: 5px;
  }
  .navbar .nav_link .icon span:first-child {
    width: 100%;
    height: 3px;
  }
  .navbar .nav_link .icon span:nth-child(2) {
    width: 50%;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  .navbar .nav_link .icon:hover span:nth-child(2) {
    width: 100%;
  }
  .navbar .nav_link .icon span:last-child {
    width: 100%;
    height: 3px;
  }
  .navbar .nav_link ul {
    position: fixed;
    left: 0;
    top: 0px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.345);
    padding: 20px;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in-out;
    list-style: none;
    transform: translateY(-120%);
    width: 100%;
    z-index: 1;
    border-radius: 0 0 20px 20px;
    align-items: center;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.695));
    gap: 0;
  }
  .navbar .nav_link:hover ul {
    transform: translateY(0);
  }
  .navbar .nav_link ul li {
    width: 100%;
  }
  .navbar .nav_link ul li a {
    padding: 20px;
    display: block;
    width: 100%;
    text-align: center;
  }
}
.contain_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  color: var(--white);
  text-align: center;
  /* max-width: 40%; */
}
.contain_home h1 {
  font-size: 40px;
  max-width: 40%;
}

.contain_home p {
  padding-top: 10px;
  max-width: 40%;
}
.contain_home .search-field {
  width: 300px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 1px var(--white);
  color: var(--white);
  border-radius: 100px;
  padding: 10px 12px;
}
.contain_home .search-field input::placeholder {
  color: var(--white);
}
.contain_home .search-field .icon_Search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 200px;
  background-image: linear-gradient(
    to right,
    var(--gradint_from),
    var(--gradint_to)
  );
}
@media (width < 650px) {
  .contain_home h1 {
    max-width: 90%;
    font-size: 30px;
  }
  .contain_home p{
    max-width: 90%;
    font-size: 13px;
  }
}

.icon_Search .fa-regular {
  font-size: 15px;
}
.info_shapping {
  width: 100%;
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.box_Shapping {
  display: flex;
  align-items: center;
  gap: 20px;
}
.box_Shapping img {
  width: 40px;
}
.Contain_shapping p {
  padding-top: 10px;
}
.Contain_shapping h3 {
  font-size: 20px;
}
.Product {
  width: 100%;
}

.best_product {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.products {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  flex-wrap: wrap;
  align-items: center;
  gap: 150px 20px;
}
@media (width < 870px) {
  .best_product {
    flex-direction: column;
    justify-content: center;
    gap: 100px;
  }
  .products {
    width: 100%;
    place-content: center;
  }
}
.products .product-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #c1d0e4;
  border-radius: 25px;
}
.products .product-item .product-item-image {
  margin-top: -80px;
}

.comment_img {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  background-color: var(--white);
  width: 100%;
  border-radius: 25px;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
.stars {
  font-size: 9px;
  padding-top: 4px;
}
.footer_comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  aspect-ratio: 1/1;
  color: var(--white);
  border-radius: 200px;
  background-image: linear-gradient(
    to right,
    var(--gradint_from),
    var(--gradint_to)
  );
}
.Contain_plant_reference {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Contain_plant_reference .title {
  text-align: center;
}
.Contain_plant_reference .title h2 {
  font-size: 50px;
}
.Contain_plant_reference .title p {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.img_plant_reference_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 25px;
  .img_plant_reference {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    border-radius: 35px;
    overflow: hidden;
    &:hover {
      background-color: rgba(0, 0, 0, 0.371);
      p {
        opacity: 1;
      }
      img {
        scale: 1;
      }
    }
    &:nth-child(2) {
      grid-row: span 2;
    }
    p {
      transition: all 0.3s ease-in-out;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 30px;
      filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.9));
      font-weight: 800;
    }
    img {
      /* aspect-ratio: 4/3; */
      transition: all 0.3s ease-in-out;
      height: 100%;
      border-radius: 35px;
      width: 100%;
      object-fit: cover;
      mix-blend-mode: overlay;
    }
  }
}

@media screen and (width < 790px) {
  .first_img h1 {
    font-size: 20px;
  }
  .img_plant_reference_container {
    grid-template-columns: 1fr;
  }
  .img_plant_reference_container .img_plant_reference:nth-child(2) {
    grid-row: span 1;
  }
  .img_plant_reference_container .img_plant_reference {
    aspect-ratio: 3/2;
    width: 100%;
    object-fit: cover;
  }
  .img_plant_reference_container .img_plant_reference p {
    font-size: 20px;
  }
  .Contain_plant_reference .title h2 {
    font-size: 30px;
  }
  .Contain_plant_reference .title p {
    font-size: 14px;
  }
  .img_plant_reference .img_part1 {
    gap: 10px;
  }
  .img_plant_reference {
    gap: 10px;
  }
}
.care_plants {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}
.note_text h3 {
  padding-bottom: 12px;
}
@media screen and (width < 790px) {
  .care_plants {
    flex-direction: column;
    padding-bottom: 0px;
  }
  .care_plants p {
    font-size: 15px;
  }
  .note_text h3 {
    font-size: 15px;
    padding-bottom: 6px;
  }
}
.Contain_care {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.care_img {
  width: 40%;
}
@media screen and (width < 790px) {
  .care_img {
    width: 80%;
  }
}
.care_img img {
  width: 100%;
}
.Contain_care {
  width: 100%;
}
.Contain_care h2 {
  padding-bottom: 12px;
  font-size: 35px;
}
.Contain_care .title {
  padding-bottom: 20px;
}
.note {
  display: flex;
  gap: 20px;
  align-items: center;
}
.note .fa-solid {
  font-size: 40px;
  background: -webkit-linear-gradient(var(--gradint_to), var(--gradint_from));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(86, 98, 112, 1),
    rgba(40, 52, 68, 1)
  );
}
.about_footer {
  display: flex;
  /* align-items: center; */
  gap: 30px;
  padding-top: 100px;
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
.email-input input:focus-visible {
  outline: none;
}
.email-input input::placeholder {
  color: var(--white);
}

@media screen and (width <800px) {
  .about_footer {
    flex-direction: column;
  }

  .email .btn {
    flex-direction: column;
    gap: 20px;
    /* width: 70%; */
  }
}

.email h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 500;
  color: var(--white);
}
input {
  width: 100%;
  border: none;
  background-color: var(--Primary_Color);
}
.email-input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border: solid 1px var(--white);
  color: var(--white);
  border-radius: 100px;
  padding: 10px 12px;
}

.Subscribe {
  text-align: center;
  background-image: linear-gradient(
    to right,
    var(--gradint_from),
    var(--gradint_to)
  );
  border: none;
  color: var(--white);
  padding: 5px;
  border-radius: 100px;
}
@media (width < 750px) {
  .email .input {
    padding: 7px;
    flex-direction: column;
  }
}

.footer .box-container {
  gap: 30px;
  align-items: center;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}
@media (width< 500px) {
  .footer .box-container {
    justify-content: start;
  }
}
.footer .box-container .box {
  display: flex;
  flex-direction: column;
}

.footer .box-container .box h3 {
  padding: 1rem 0;
  color: var(--white);
}

.footer .box-container .box a {
  color: var(--white);
  font-size: 16px;
  padding: 0.5rem 0;
  text-decoration: none;
  display: block;
}

.footer .box-container .box a:hover {
  text-decoration: underline;
  background: -webkit-linear-gradient(var(--gradint_to), var(--gradint_from));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}
.footer .credit {
  padding: 2rem;
  margin-top: 1rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
  font-size: 1rem;
  color: var(--white);
  border-top: 0.1rem solid var(--white);
  text-align: center;
}
.footer .credit span {
  color: var(--main_color);
}
@media (width < 500px) {
  p {
    font-size: 16px;
  }
  .contain_home h1,
  h2,
  h3,
  .Contain_care h2,
  .email h2 {
    font-size: 27px;
  }

  .text_product h2 {
    font-size: 25px;
  }
  .footer .box-container .box h3 {
    font-size: 18px;
  }
  .Contain_shapping h3 {
    font-size: 15px;
  }
  .Contain_shapping p {
    font-size: 14px;
  }
}
